
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.first{
  width: auto;
  height:500px;
  background-color:  #fdfffc;
  margin-top: 30px;
}

.second{
  width:auto;
  height: 400px;
  background-color: #e0fbfc;
}

.third{
  width: auto;
  height: 400px;
  background-color: #fdfffc;
}

.line {
  width: 100%;
  max-width: 1400px;
  height: 20px;
  margin-top:20px;
  position: relative;
  display: inline-block;
  background-color:#023047;
}

h1{
  text-align: center;
  padding-top: 90px;
  color: #023047;
  font-size: 60px;
}

.first-paragraph{
  text-align: center;
  color: #023047;
  font-size: 20px;
  font-weight: bold;
}

.logo-main{
  align-items: center;
  display: flex;
  justify-content: center;
}

#workout-logo{
  width: 500px;
  height: 300px;
  margin-top: 10px;
}


#gsap-logo{
  width: 500px;
  height: 300px;
  margin-top: 50px;
  padding-right: 80px;
}

#happy-logo{
  width: 500px;
  height: 300px;
}

.second-paragraph{
  font-size: 30px;
  margin-top: 40px;
}

.third-paragraph{
  font-size: 30px;
  margin-top: 40px;
}